<?xml version="1.0" encoding="utf-8"?>

<!--
  Smart WebView v8
  https://github.com/mgks/Android-SmartWebView

  A modern, open-source WebView wrapper for building advanced hybrid Android apps.
  Native features, modular plugins, and full customisation—built for developers.

  - Documentation: https://mgks.github.io/Android-SmartWebView/documentation  
  - Plugins: https://mgks.github.io/Android-SmartWebView/documentation/plugins  
  - Discussions: https://github.com/mgks/Android-SmartWebView/discussions  
  - Sponsor the Project: https://github.com/sponsors/mgks  

  MIT License — https://opensource.org/licenses/MIT  

  Mentioning Smart WebView in your project helps others find it and keeps the dev loop alive.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="mgks.os.swv">

	<supports-screens
		android:anyDensity="true"
		android:resizeable="true"
		android:smallScreens="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:xlargeScreens="true" />

	<!-- Essential Permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

	<!-- Permissions for Optional Features (Add/Remove as needed) -->
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<!-- Permissions for File Access (Scoped Storage) -->
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
	<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
	<uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="28"
		tools:ignore="ScopedStorage" />

	<!-- Features (Optional) -->
	<uses-feature android:name="android.hardware.location.gps" android:required="false" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

	<application
		android:icon="@mipmap/ic_launcher"
		android:name=".SWVContext$App"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.App.Starting"
		android:hardwareAccelerated="true"
		tools:ignore="UnusedAttribute">

		<property
			android:name="android.adservices.AD_SERVICES_CONFIG"
			android:resource="@xml/gma_ad_services_config"
			tools:replace="android:resource" />

		<!-- Main Activity -->
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation|uiMode"
			android:windowSoftInputMode="adjustResize"
			android:theme="@style/Theme.SmartWebView"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="https"
					android:host="mgks.github.io"
					android:pathPrefix="/Android-SmartWebView" />
			</intent-filter>
			<intent-filter android:label="OpenURI">
				<action android:name="OPEN_URI" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- Share Activity -->
		<activity android:name=".ShareActivity"
			android:exported="true">
			<intent-filter android:label="Share">
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/*" />
			</intent-filter>
			<intent-filter android:label="Share Image">
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
			<intent-filter android:label="Share Multiple Images">
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>

		<!-- Firebase Service -->
		<service android:name=".Firebase"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<!-- File Provider -->
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths" />
		</provider>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />

		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="@string/admob_app_id"/>

	</application>
</manifest>
